.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after, .table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc, .table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
}

thead {
    background: rgb(130, 197, 255);
    height: 25px;
}
tbody td {
    /* pointer-events: none; */
    height: 35px;

}
tbody tr td:nth-child(-n+3) {
    vertical-align: middle;
    text-align: left;
}
th, td {
    border:1px solid rgb(80, 80, 80);
    text-align: center;
    vertical-align: middle;

}
img {
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
}

#type-img img {
    width: 15%;
    /* height: 20%; */
}

#reg-img img {
    width: 58.82%;
    height: 53.57%;
}

.hidden {
    display: none;
}